---
type Tool = { name: string; imageSrc?: string };

const infraTools: Tool[] = [
  { name: "Designing & Implementation", imageSrc: "/portfolio/icons/ux.png" },
  {
    name: "Hardware Servers & Storage",
    imageSrc: "/portfolio/icons/server.png",
  },
  { name: "Storage Networking", imageSrc: "/portfolio/icons/storagenet.png" },
  { name: "Power", imageSrc: "/portfolio/icons/battery.png" },
  { name: "Cooling", imageSrc: "/portfolio/icons/thermometer.png" },
  { name: "Networking", imageSrc: "/portfolio/icons/networking.png" },
  { name: "Intercom", imageSrc: "/portfolio/icons/intercom.png" },
  { name: "IBM AS400", imageSrc: "/portfolio/icons/ibm.png" },
  {
    name: "Cable Layering",
    imageSrc: "/portfolio/icons/construction-worker.png",
  },
  { name: "Fiber", imageSrc: "/portfolio/icons/optical-fiber.png" },
  { name: "DR Solutions", imageSrc: "/portfolio/icons/data-center.png" },
  { name: "Lenovo", imageSrc: "/portfolio/icons/lenovo.png" },
  { name: "HPE" },
  { name: "Dell", imageSrc: "/portfolio/icons/dell.png" },
  { name: "Cisco UCS", imageSrc: "/portfolio/icons/cisco.png" },
  { name: "Broadcom", imageSrc: "/portfolio/icons/broadcom.png" },
];

const virtTools: Tool[] = [
  { name: "VMware", imageSrc: "/portfolio/icons/vmware.png" },
  { name: "Hyper-V", imageSrc: "/portfolio/icons/microsoft.png" },
  { name: "Nutanix", imageSrc: "/portfolio/icons/nutanix.png" },
  { name: "XCP-NG", imageSrc: "/portfolio/images/badge/SVG-_XCPNG---Badge-1.png" },
  { name: "Xen", imageSrc: "/portfolio/icons/XO-logo-name.png" },
  { name: "Fusion Compute", imageSrc: "/portfolio/icons/38025-middle.png" },
  { name: "Open Stack", imageSrc: "/portfolio/icons/OpenStack-Logo.wine.png" },
  { name: "Openshift", imageSrc: "/portfolio/icons/OpenShift-LogoType.svg.png" },
  { name: "IBM PowerVM", imageSrc: "/portfolio/icons/ibm.png" },
];

const osTools: Tool[] = [
  { name: "Microsoft Windows Server", imageSrc: "/portfolio/icons/microsoft.png" },
  { name: "Oracle Linux", imageSrc: "/portfolio/icons/penguin-updated.avif" },
  { name: "Redhat Linux", imageSrc: "/portfolio/icons/red-hat.svg" },
  { name: "CentOS", imageSrc: "/portfolio/icons/images.png" },
  { name: "Xen Server", imageSrc: "/portfolio/icons/xenlogo.gif" },
  { name: "IBM OS/2", imageSrc: "/portfolio/icons/OS-2_1.x_logo_glowing.svg.png" },
  { name: "AIX", imageSrc: "/portfolio/icons/IBM_AIX_logo_(pre_2021).svg.png" },
  { name: "Unix Platforms" },
];

import Capsule from "../ui/Capsule.astro";

type ToolVariant = "default" | "center";

// Base classes that are common to all variants
const baseClasses = "flex flex-wrap gap-4 max-lg:gap-1 grid-auto-efe";

// Variant-specific classes
const variantClasses: Record<ToolVariant, string> = {
  default: "cursor-default",
  center: "justify-center cursor-default",
};

const { variant = "default", linkEnabled = false, size = "md" } = Astro.props;

// Combine base classes with variant-specific classes
const classes = `${baseClasses} ${variantClasses[variant as ToolVariant]}`;
---

<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-4">
    <div class="flex items-center gap-2">
      <div class="h-px grow bg-zinc-200 dark:bg-zinc-800"></div>
      <div class="flex items-center gap-2">
        <p
          class="text-[10px] font-black tracking-[.2em] uppercase bg-linear-to-r from-riptide-500 to-mint-400 dark:from-riptide-500 dark:to-mint-500 text-transparent bg-clip-text"
        >
          Datacenter & Infrastructure
        </p>
      </div>
      <div class="h-px grow bg-zinc-200 dark:bg-zinc-800"></div>
    </div>
    <div class={classes}>
      {
        infraTools.map((tool) => (
          <Capsule
            lang={tool.name}
            imageSrc={tool.imageSrc}
            linkEnabled={linkEnabled}
            size={size}
          />
        ))
      }
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex items-center gap-2">
      <div class="h-px grow bg-zinc-200 dark:bg-zinc-800"></div>
      <div class="flex items-center gap-2">
        <p
          class="text-[10px] font-black tracking-[.2em] uppercase bg-linear-to-r from-riptide-500 to-mint-400 dark:from-riptide-500 dark:to-mint-500 text-transparent bg-clip-text"
        >
          Virtualization
        </p>
      </div>
      <div class="h-px grow bg-zinc-200 dark:bg-zinc-800"></div>
    </div>
    <div class={classes}>
      {
        virtTools.map((tool) => (
          <Capsule
            lang={tool.name}
            imageSrc={tool.imageSrc}
            linkEnabled={linkEnabled}
            size={size}
          />
        ))
      }
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex items-center gap-2">
      <div class="h-px grow bg-zinc-200 dark:bg-zinc-800"></div>
      <div class="flex items-center gap-2">
        <p
          class="text-[10px] font-black tracking-[.2em] uppercase bg-linear-to-r from-riptide-500 to-mint-400 dark:from-riptide-500 dark:to-mint-500 text-transparent bg-clip-text"
        >
          Operating Systems
        </p>
      </div>
      <div class="h-px grow bg-zinc-200 dark:bg-zinc-800"></div>
    </div>
    <div class={classes}>
      {
        osTools.map((tool) => (
          <Capsule
            lang={tool.name}
            imageSrc={tool.imageSrc}
            linkEnabled={linkEnabled}
            size={size}
          />
        ))
      }
    </div>
  </div>
</div>
